body#tinymce.content.wp-editor { 
	max-width:930px;
	padding-right:0;
	border-right:none;
}
body.content.wp-fullscreen-editor {
	max-width:930px !important;
	padding-right:0 !important;
	border-right:none;
}