/**
 * Shell Editor Style
 */

/* 25px reset. */
html{word-wrap:break-word;}
html,body,div,span,object,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;vertical-align:baseline;outline:none;font-size:100%;background:transparent;border:none;text-decoration:none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}b,i,hr,u,center,menu,layer,s,strike,font,xmp{margin:0;padding:0;vertical-align:baseline;outline:none;font-size:100%;font-weight:normal;font-style:normal;background:transparent;border:none;text-decoration:none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}body{line-height:25px;font-family:Georgia,Times,"Times New Roman",serif;color:#333;background:#fff}h1,h2,h3,h4,h5,h6{font-style:normal;font-weight:normal;margin:0 0 25px 0}h1{font-size:1.8em}h2{font-size:1.7em}h3{font-size:1.55em}h4{font-size:1.4em}h5{font-size:1.25em}h6{font-size:1.1em}p{margin:0 0 25px 0}ol,ul{list-style:none}ul{list-style:disc;margin:0 0 25px 2.5em}ol{list-style-type:decimal;margin:0 0 25px 3em}ol ol{list-style:upper-roman}ol ol ol{list-style:lower-roman}ol ol ol ol{list-style:upper-alpha}ol ol ol ol ol{list-style:lower-alpha}ul ul,ol ol,ul ol,ol ul{margin-bottom:0}dl{margin:0 0 25px 5px}dl dt{font-weight:bold;margin:10px 0 0 0}dl dd{margin:5px 0 0 1.5em}strong{font-weight:bold}strong strong{font-weight:normal}em,cite{font-style:italic}em em,cite cite{font-style:normal}abbr{cursor:help}acronym{text-transform:uppercase;border-bottom:1px dashed #666;cursor:help}big{font-size:120%}small,sup,sub{font-size:80%}sup{vertical-align:baseline;position:relative;bottom:0.3em}sub{vertical-align:baseline;position:relative;top:0.3em}address{font-style:italic;margin:0 0 25px 0}li address,dd address{margin:0}blockquote{margin:0 25px;font-style:normal}blockquote em,blockquote cite{font-style:italic}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{cursor:pointer}a img{border:none}pre{overflow:auto;font:.9em Monaco,monospace,Courier,"Courier New";line-height:25px;margin-bottom:25px;padding:10px}code{font:.9em Monaco,monospace,Courier,"Courier New"}pre code{font-size:1em}ins,dfn{font-style:italic;text-decoration:none;border-bottom:1px solid #666}del,s,strike{text-decoration:line-through}object{margin-bottom:25px}input,textarea{font-size:1em;padding:3px}input[type="submit"]{cursor:pointer}:focus{outline:none}form label{cursor:pointer}option{padding:1px 2px}table{border-collapse:collapse;border-spacing:0;margin-bottom:25px}th,td{text-align:left}hr{height:1px;margin-bottom:25px;background:#333}img.wp-smiley{max-height:12px;margin:0;padding:0;border:none}.gallery{display:block;text-align:center;margin-bottom:25px}.alignleft,.left{float:left;margin-right:20px}.alignright,.right{float:right;margin-left:20px}.aligncenter,.center{display:block;margin:0 auto 25px auto}.alignnone,.block{clear:both;margin:0 0 25px 0}.clear{clear:both}img.alignleft,img.alignright{display:inline}blockquote.alignleft,blockquote.alignright{width:33%}

/* color */
del{color:red}ins{color:green;border-bottom:1px solid green}

/* Galleries. */
.gallery{display:block;clear:both;overflow:hidden;margin:0 auto}.gallery .gallery-row{display:block;clear:both;overflow:hidden;margin:0}.gallery .gallery-item{overflow:hidden;float:left;margin:0;text-align:center;list-style:none;padding:0}.gallery .gallery-item .gallery-icon img{width:auto;max-width:89%;height:auto;padding:1%;margin:0 auto}.gallery-caption{margin-left:0}.gallery .col-0{width:100%}.gallery .col-1{width:100%}.gallery .col-2{width:50%}.gallery .col-3{width:33.33%}.gallery .col-4{width:25%}.gallery .col-5{width:20%}.gallery .col-6{width:16.66%}.gallery .col-7{width:14.28%}.gallery .col-8{width:12.5%}.gallery .col-9{width:11.11%}.gallery .col-10{width:10%}.gallery .col-11{width:9.09%}.gallery .col-12{width:8.33%}.gallery .col-13{width:7.69%}.gallery .col-14{width:7.14%}.gallery .col-15{width:6.66%}.gallery .col-16{width:6.25%}.gallery .col-17{width:5.88%}.gallery .col-18{width:5.55%}.gallery .col-19{width:5.26%}.gallery .col-20{width:5%}.gallery .col-21{width:4.76%}.gallery .col-22{width:4.54%}.gallery .col-23{width:4.34%}.gallery .col-24{width:4.16%}.gallery .col-25{width:4%}.gallery .col-26{width:3.84%}.gallery .col-27{width:3.7%}.gallery .col-28{width:3.57%}.gallery .col-29{width:3.44%}.gallery .col-30{width:3.33%}

/* Links */
a {
	color: #999;
	border-bottom: 1px dotted #666;
	}
a:hover {
	text-decoration: none;
	color: #000;
	border-bottom: 1px dotted #000;
	}

/* Headers */
h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Verdana, sans-serif;
	color: #000;
	font-weight: bold;
	}
h1 { font-size: 25px; }
h2 { font-size: 23px; }
h3 { font-size: 21px; }
h4 { font-size: 19px; }
h5 { font-size: 17px; }
h6 { font-size: 15px; }

/* Horizontal rule */
hr {
	height: 1px;
	background: #dfdfdf;
	}

/* Acronyms and abbreviations */
abbr {
	border-bottom: 1px dotted #666;
	}
.byline abbr, .entry-meta abbr, .comment-meta abbr {
	border: none;
	}
acronym {
	font-size: .9em;
	text-transform: uppercase;
	color: #555;
	background: #fcfcfc;
	border-bottom: 1px dotted #ddd;
	}
acronym:hover {
	color: #333;
	background: #f9f9f9;
	border-bottom: 1px dotted #999;
	}

/* Lists. */
ul {
	list-style: square;
	}
dl {
	margin: 0 0 25px 25px;
	}
dl dt {
	margin: 0;
	font: normal normal bold 16px/25px Arial, Verdana, sans-serif;
	}
dl dd {
	margin: 0 0 5px 10px;
	padding: 0;
	font-size: 14px;
	color: #777;
	}

/* Blockquotes. */
blockquote, blockquote blockquote blockquote {
	overflow: hidden;
	margin: 0 0 25px 0;
	padding: 25px 25px 0 25px;
	font-size: 15px;
	color: #666;
	background: #f9f9f9;
	border-left: 5px solid #ddd;
	}
blockquote blockquote {
	color: #666;
	background: #eee;
	border-left: 5px solid #ccc;
	}

/* Code */
code {
	padding: 0 3px;
	color: #555;
	font: normal normal normal 13px/25px Arial, Verdana, sans-serif;
	background: #e6e6e6;
	}
pre {
	padding: 25px;
	color: #555;
	font: normal normal normal 13px/25px Arial, Verdana, sans-serif;
	background: #efefef;
	border: 1px solid #dfdfdf;
	}
pre code {
	padding: 0;
	background: transparent;
	}

/* Forms */
input[type="text"] {
	display: block;
	width: 300px;
	}
input[type="submit"]:hover {
	cursor: pointer
	}
textarea {
	display: block;
	width: 95%;
	}

/* Alignment */
.left, .alignleft {
	float: left;
	margin: 0 25px 10px 0;
	}
.right, .alignright {
	float: right;
	margin: 0 0 10px 25px;
	}
img.alignleft, img.alignright {
	margin-top: 5px;
	}
.center, .aligncenter {
	display: block;
	margin: 0 auto 25px auto !important;
	}
.block, .alignnone {
	display: block;
	margin: 0 0 25px 0;
	}
.clear {
	clear: both;
	}

/* Note */
.note {
	padding: 6px 9px;
	background: #eee;
	border: 1px solid #ccc;
	margin:0 auto 25px;
	display: block;
	width:100%;
}

/* Warnings/Alerts */
.alert {
	padding: 6px 9px;
	background: #fffbbc;
	border: 1px solid #E6DB55;
	margin:0 auto 25px;
	display: block;
	width:100%;
}

/* Errors */
.error {
	padding: 6px 9px;
	background: #ffebe8;
	border: 1px solid #C00;
	margin:0 auto 25px;
	display: block;
	width:100%;
}

/* Downloads */
.download {
	padding: 6px 9px;
	background: #e7f7d3;
	border: 1px solid #6c3;
	margin:0 auto 25px;
	display: block;
	width:100%;
}

/* Buttons */
.button {
	display:inline-block;
	background-color: #eee;
	border:1px solid #ccc;
	color:#333;
	line-height:1em;
	text-align:center;
	text-decoration:none;
	padding:6px 15px;
	margin: 0;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow: inset 0 1px 0 rgba(245,245,245,.5), 
						inset 0 -5px 30px rgba(245,245,245,.25), 
						0 1px 1px rgba(0,0,0,.3);
	-moz-box-shadow: inset 0 1px 0 rgba(245,245,245,.5), 
						inset 0 -5px 30px rgba(245,245,245,.25), 
						0 1px 1px rgba(0,0,0,.3);
	box-shadow: inset 0 1px 0 rgba(245,245,245,.5), 
						inset 0 -5px 30px rgba(245,245,245,.25), 
						0 1px 1px rgba(0,0,0,.3);
}
.button:hover {
	-webkit-box-shadow: inset 0 1px 0 rgba(245,245,245,.7), 
						inset 0 -5px 30px rgba(245,245,245,.45), 
						0 1px 1px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 1px 0 rgba(245,245,245,.7), 
						inset 0 -5px 30px rgba(245,245,245,.45), 
						0 1px 1px rgba(0,0,0,.4);
	box-shadow: inset 0 1px 0 rgba(245,245,245,.7), 
						inset 0 -5px 30px rgba(245,245,245,.45), 
						0 1px 1px rgba(0,0,0,.4);
}
.button:active {
	border-color: #20559a;
	-webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.5),
						0 1px 0 rgba(255,255,255, 0);
	-moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.5),
						0 1px 0 rgba(255,255,255, 0);
	box-shadow: inset 0 3px 7px rgba(0,0,0,.5),
						0 1px 0 rgba(255,255,255, 0);
	border-color:transparent;
}

/* button size */
.button-rounded, .button-small { padding:5px 10px; font-size:0.8em;}
.button-large { padding:8px 16px; font-size:1.4em;}
.button-xl { padding:10px 20px; font-size:1.8em;}

/* button color */
.button-red, a.button-red {
	background-color: #d32f3b;
	color:#fff;
	border-color:#e40;
}
.button-green, a.button-green {
	background-color: #4a0;
	color:#fff;
	border-color:#4a0;
}
.button-blue, a.button-blue {
	background-color: #07e;
	color:#fff;
	border-color:#0af;
}
.button-purple, a.button-purple {
	background-color: #704;
	color:#fff;
	border-color:#b06;
}
.button-black, a.button-black {
	background-color: #333;
	color:#fff;
	border-color:#444;
}

/* Drop Cap */
.drop-cap { 
	float: left;
	font-family: Old English, Georgia,serif;
	font-size: 4em;
	line-height: 0.7em;
	margin-right: 5px;
	text-transform: capitalize;
}

/* Grid column */
.grid-column-2{
	width:50%;
	padding:0 2% 0 0;
	margin:0 -4px 25px 0;
	display:inline-block;
	vertical-align: top;
}
.grid-column-1-3{
	width:33.333%;
	padding:0 2% 0 0;
	margin:0 -4px 25px 0;
	display:inline-block;
	vertical-align: top;
}
.grid-column-2-3{
	width:66.666%;
	padding:0 2% 0 0;
	margin:0 -4px 25px 0;
	display:inline-block;
	vertical-align: top;
}
.grid-column-1-4{
	width:25%;
	padding:0 2% 0 0;
	margin:0 -4px 25px 0;
	display:inline-block;
	vertical-align: top;
}
.grid-column-3-4{
	width:75%;
	padding:0 2% 0 0;
	margin:0 -4px 25px 0;
	display:inline-block;
	vertical-align: top;
}
.grid-column-last{
	padding:0;
	margin:0 0 25px 0;
}

/* Max-widths for images */
.wp-caption { max-width:  100%; }

.wp-caption img { max-width:  100%; }


/* Smiley */
img.wp-smiley {
	max-width: 12px;
	padding: 0;
	background: transparent;
	border: none;
	}

/* Captions [caption] */
.wp-caption {
	overflow: hidden;
	padding: 4px 4px 10px 4px;
	background: #f9f9f9;
	border: 1px dotted #ccc;
	text-align: center;
	}
.wp-caption img {
	margin: 0 0 5px 0;
	padding: 2px;
	background: #eee;
	border: 1px solid #bbb;
	}
.wp-caption .wp-caption-text {
	margin: 0 4px;
	font: normal normal normal 12px/12px Arial, Verdana, sans-serif;
	color: #888;
	text-align: right;
	}
.wp-caption a {
	border: none;
	}

/* Fixing the nasty inline styles WordPress adds for galleries. */
/* For a better gallery experience, install http://wordpress.org/extend/plugins/cleaner-gallery */
.gallery {
	overflow: hidden;
	margin: 0 !important;
	}
.gallery br {
	display: block;
	line-height: 0;
	height: 0; /* Ugh! Learn CSS, WP developers! */
	}
.gallery a {
	border: none;
	}
.gallery-item {
	overflow: hidden;
	margin: 0 0 25px 0 !important;
	}
.gallery-icon {
	overflow: hidden;
	margin: 0;
	}
.gallery img {
	max-width: 89%;
	height: auto;
	margin: 0 auto;
	padding: 2px !important;
	border: 1px solid #ddd !important;
	}
.gallery-caption {
	margin: 0;
	font: normal normal normal 12px/25px Arial, Verdana, sans-serif;
	color: #999;
	}

/**
 * Editor Style
 * =============================
 */
body#tinymce.wp-editor { 
	max-width:620px;
	margin-left: 20px;
	margin-top:10px;
	padding-right:20px;
	border-right:1px dashed #ccc;
}
/* full screen width */
body.wp-fullscreen-editor {
	max-width:620px !important;
	padding-right:20px !important;
	border-right:1px dashed #ccc;
}
/* images */
img, a img{
	height: auto;
	max-width: 100%;
	padding: 4px;
	background: #f9f9f9;
	border: 1px solid #ddd;
}
/* heading */
h1, h2, h3, h4, h5, h6 {
	padding-left: 15px;
	color: #444;
	border-left: 5px solid #d9d9d9;
	}
h1 { line-height: 25px; }
h2 { line-height: 23px; border-color: #ddd; padding-left: 14px; }
h3 { line-height: 21px; border-color: #dfdfdf; padding-left: 13px; }
h4 { line-height: 19px; border-color: #e1e1e1; padding-left: 12px; }
h5 { line-height: 17px; border-color: #e3e3e3; padding-left: 11px; }
h6 { line-height: 15px; border-color: #e5e5e5; padding-left: 10px; }
/* table */
.mceItemTable{
	margin: 0 0 25px 0;
	width: 100%;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	background: #fff;
}
.mceItemTable caption{
	font: normal normal normal 13px/25px Arial, Verdana, sans-serif;
	color: #999;
}
.mceItemTable th{
	font: normal normal bold 13px/25px Arial, Verdana, sans-serif;
	padding: 4px 2%;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	text-align: left;
}
.mceItemTable td{
	font-family:Georgia,Times,"Times New Roman",serif;
	padding: 7px 2%;
	color: #777;
	border-bottom: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
}
/* next page */
img.mceWPnextpage{
	background:url(images/next-page.png) right center no-repeat;
	height:20px;
	border-top:3px solid #104509;
	width:100%;
	padding:0;
}
/* more */
img.mceWPmore {
	background:url(images/more.png) right center no-repeat;
	height:20px;
	border-top:3px solid #8d0b0b;
	width:100%;
	padding:0;
}
/* Grid Column */
.grid-column-2{
	background:url(images/col-1-2.png) top right no-repeat;
}
.grid-column-1-3{
	background:url(images/col-1-3.png) top right no-repeat;
}
.grid-column-2-3{
	background:url(images/col-2-3.png) top right no-repeat;
}
.grid-column-1-4{
	background:url(images/col-1-4.png) top right no-repeat;
}
.grid-column-3-4{
	background:url(images/col-3-4.png) top right no-repeat;
}
.grid-column-last:after{
	content:"...end col...";
	color:#868686;
	background:#ddd;
	font-size:10px;
	padding:3px;
	margin-left:10px;
	opacity:0.6;
}
