.skin-input-wrap{
	display:inline-block;
	vertical-align: top;
	width:310px;
	margin:2.5%;
}
.skin-img{
	width:300px;
	height:225px;
	background-position:center top;
	background-repeat:no-repeat;
	border:2px solid #ccc;
	background-position:center;
	background-size:contain;
}
.skin-img-selected{
	border-color:green;
}
.skin-name{
	font-weight:bold;
	font-size: 1.17em;
	margin-top:10px;
}
.skin-option-input{
	display:none;
}
.skin-detail{
	display:inline-block;
	color:#21759B;
	text-decoration:underline;
	cursor:pointer;
	margin-top:15px;
}
.skin-detail:hover{
	color:#D54E21;
}
.skin-description{
	height:0px;
	overflow:hidden;
	display:block;
	clear:both;
}
.skin-description-display{
	height:auto;
	display:block;
}
.skin-version{
	font-size:11px;
	font-weight:normal;
	margin-left:10px;
}