@media screen and (max-width: 700px){

	/* Menu Toggle */
	.menu-toggle{
		font-weight: 700;
		line-height: 1.8em;
		padding: 9px;
		padding: 0.9rem;
		width: 100%;
		height: 47px;
		height: 4.7rem;
	}
	.menu-toggle .screen-reader-text{
		position: inherit;
		left: auto;
		top: auto;
	}
	.menu-toggle a:hover,
	.menu-toggle a:focus{
		opacity: 0.8;
	}
	.menu-toggle a:before{
		content: "\f203";
		font-family: 'dashicons';
		font-weight: 400;
		font-size: 20px;
		font-size: 2rem;
		vertical-align: top;
		margin-right: 0.5rem;
		margin-right: 5px;
		-webkit-font-smoothing: antialiased;
	}
	.menu-toggle a.menu-toggle-close:before{
		content: "\f158";
	}
	.menu-toggle-active .menu-toggle a:before{
		content: "\f158";
	}
	/* Display sub menu */
	.mobile-menu-active .menu-dropdown li:hover > .sub-menu{
		left: auto;
	}

	/* Menu Toggle */
	.menu-toggle{
		display: block;
	}
	.menu-toggle .menu-toggle-close{
		display: none;
	}

	/* === Menu Toggle: "js" enabled === */

	/* Hide Menu */
	.menu-items{
		display: none;
	}

	/* Display Menu */
	.menu-toggle-active.menu-container{
		border-bottom: 0;
	}
	.menu-toggle-active .menu-items{
		display: block;
	}
	.menu-toggle-active .menu-toggle{
		border-bottom: 1px solid #ccc;
	}
	.menu-toggle-active > .wrap{
		display: block;
	}

	/* === Drop Down Style === */

	/* Clear Dropdown */
	.menu-dropdown:after{
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}
	.menu-dropdown > .wrap{
		display: block;
		margin-right: 0;
		width: 100%;
	}

	/* Has Children 1st level */
	.menu-dropdown ul li.menu-item-open-children > a:before,
	.menu-dropdown ul li.menu-item-has-children > a:before{
		content: "";
		position: inherit;
		right: auto;
	}

	/* Mobile Menu Style */
	.menu-dropdown li{
		display: block;
		width: 100%;
	}
	.menu-dropdown .sub-menu{
		width: 100%;
		border: none;
	}
	.menu-dropdown li a,
	.menu-dropdown .sub-menu li a{
		width: 100%;
		border: none;
		border-bottom: 1px solid #ccc;
		background: #eee;
	}
	.menu-dropdown .sub-menu li a{
		background: transparent;
	}
	.menu-dropdown .sub-menu li:hover > .sub-menu,
	.menu-dropdown .sub-menu li:focus > .sub-menu,
	.menu-dropdown .sub-menu li.focus > .sub-menu,
	.menu-dropdown li:hover > .sub-menu,
	.menu-dropdown li:focus > .sub-menu,
	.menu-dropdown li.focus > .sub-menu,
	.menu-dropdown .sub-menu{
		opacity: 1;
		left: auto;
		top: auto;
		position: inherit;
	}
	.menu-dropdown .sub-menu .sub-menu,
	.menu-dropdown .sub-menu .sub-menu{
	}
	.menu-dropdown .sub-menu .sub-menu{
	}
	/* .sub-menu */
	.menu-dropdown .sub-menu li a:before,
	.menu-dropdown .sub-menu li.menu-item-open-children >  a:before,
	.menu-dropdown .sub-menu li.menu-item-has-children > a:before{
		content:"\f460 ";
		font-family: 'dashicons';
		vertical-align: top;
		padding: 0;
		margin-right: 5px;
		margin-right: 0.5rem;
		float: none;
		position: inherit;
		right: auto;
		-webkit-font-smoothing: antialiased;
	}
	.menu-dropdown .sub-menu .sub-menu li a:before{
		content:"\f460 \f460 ";
		font-family: 'dashicons';
		vertical-align: top;
		padding: 0;
		margin-right: 5px;
		margin-right: 0.5rem;
		float: none;
		-webkit-font-smoothing: antialiased;
	}
	.menu-dropdown .sub-menu .sub-menu .sub-menu li a:before{
		content:"\f460 \f460 \f460 ";
	}
	.menu-dropdown .sub-menu .sub-menu .sub-menu .sub-menu li a:before{
		content:"\f460 \f460 \f460 \f460 ";
	}
	.menu-dropdown .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu li a:before{
		content:"\f460 \f460 \f460 \f460 \f460 ";
	}
	.menu-dropdown .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu li a:before{
		content:"\f460 \f460 \f460 \f460 \f460 \f460 ";
	}
	.menu-dropdown .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu li a:before{
		content:"\f460 \f460 \f460 \f460 \f460 \f460 \f460 ";
	}
	.menu-dropdown .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu li a:before{
		content:"\f460 \f460 \f460 \f460 \f460 \f460 \f460 \f460 ";
	}
	.menu-dropdown .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu li a:before{
		content:"\f460 \f460 \f460 \f460 \f460 \f460 \f460 \f460 \f460 ";
	}
	.menu-dropdown .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu li a:before{
		content:"\f460 \f460 \f460 \f460 \f460 \f460 \f460 \f460 \f460 \f460 ";
	}

}
